.header_event_inp #empty_space_header {
  display: none !important;
}

form input{
  border: 1px solid #69717a;
  border-radius: 4px;
  height: 5vh;
  margin-bottom: 3vh;
}

.img_dis input{
  border: none !important;
}

.EventMandatoryField label::before{
  content: '*';
  color: red;
}

.EventMandatoryField{
  padding:4vh 0vw 0vh 0vw;
  border-bottom: 2px solid black;
  height: 42vh;
}

.EventDescription{
  margin: 2vh 0vw;
  border-bottom: 2px solid black;
}

form label{
  color: #69717A;
}
.EventDates input{
  width: 11vw;
}

/*event IMAGE upload */
.eventIMG::before {
  content: '+';
  color: #000000;
  display: inline-block; 
  padding:0px 8px !important;
  outline: none;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 600 !important;
  font-size: 15pt;
  height: 30px !important;
  width: 30px;
  text-align: center;
  background-color: #E3CAF9;
}

.eventIMG{
  color: transparent;
}
.eventIMG::-webkit-file-upload-button{
  visibility: hidden;
}

.eventIMG:hover::before {
  border-color: #000000;
}
.eventIMG:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.img_dis img:hover{
  transform: scale(1.02);
} 




