.header_event_inp #empty_space_header {
  display: none !important;
}

form input{
  border: 2px solid black;
  border-radius: 4px;
}


/* 
//screen TITLE BOX 
.box {
  border: 1.5px solid rgb(0, 0, 0);
  position: relative;
  width: 95%;
  height: 8vh;
  margin-left: 3vw;
  top:22vh;
  font-family: "Outfit";
  font-style: normal;
  font-size: 5vh;
  line-height: 0px;
  text-align: center;
  background: #ffffff;
}
//Event screen css 
.input1 {
  padding-left: 5%;

}
.input2{
  align-items: center;
}

//event IMGAGE upload 
.eventIMG{
  color: transparent;
}
.eventIMG::-webkit-file-upload-button{
  visibility: hidden;
}
.eventIMG::before {
  content: '+';
  color: #000000;
  display: inline-block;
  border: 1px solid #999;
  border-radius: 5px !important;
  padding: 5px 8px !important;
  outline: none;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 600 !important;
  font-size: 20pt;
  height: 27px !important;
  text-align: center;
  background-color: #E3CAF9;
  margin-left:4px;
}
.eventIMG:hover::before {
  border-color: #000000;
}
.eventIMG:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.img_dis img:hover{
  transform: scale(1.02);
} */
