.App {
  /* background-color: #EDE7F1; */
  max-width: 100vw;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.Authorization{
  position: relative;
  height: 100vh;
  display: flex;
  width: 100vw;
  justify-content: center;
  margin-top: 30vh;
}


