*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
.App {
  min-width: 100vw;
  min-height: 100vh;
}
.Authorization{
  position: relative;
  height: 100vh;
  display: flex;
  width: 100vw;
  justify-content: center;
  margin-top: 30vh;
}


